* {
  font-family: 'Roboto', 'Helvetica';
}

body {
  padding: 30px 60px;
}

input {
  color: #555555;
  width: 100%;
  font-size: 16px;
  padding: 5px 10px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card img {
  max-height: 170px;
  width: 100%;
}

.card p {
  text-align: center;
  padding: 5px;
}